# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/

# IDE files
.idea/
.vscode/
*.swp
*.swo
 
# Test files
tests/
test_*.py
*.m3u
*.log

# Other
.DS_Store
Thumbs.db

# User-specific files -  uncomment if you want to ignore these in your project as well, but be careful if you intend to share your repo and these files are relevant for others
*.env
secrets.json
*.log
*.m3u